@model ClinicWebForm.Models.HouseholdRegistrationViewModel

<script src="~/Scripts/jquery-2.1.3.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('#phHousehold').hide();

        $('#AddHousehold').click(function () {

            if ($('#phHousehold').is(':visible') == false) {
                $('#AddHousehold').val('Cancel');
                $('#phHousehold').show();
            }
            else {
                $('#AddHousehold').val('Add New');
                $('#phHousehold').hide();
            }
        });
    });
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Household Registration</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.CHW.Signature, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CHW.Signature, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CHW.Signature, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="Clinics" class="control-label col-md-2">Clinics </label>
            @Html.DropDownList("Clinics", new SelectList(Model.Clinics, "Id", "ClinicDescription"), htmlAttributes: new { @class = "form-control dropdown-toggle col-md-10" })
        </div>

        <div class="form-group">
            <label for="Clinics" class="control-label col-md-2">Wards </label>
            @Html.DropDownList("Wards", new SelectList(Model.Wards, "Id", "WardDescription"), htmlAttributes: new { @class = "form-control dropdown-toggle col-md-10" })
        </div>

        <div class="form-group">
            <label for="Households" class="control-label col-md-2">Household </label>
            @Html.DropDownList("Households", new SelectList(Model.Households, "Id", "RegistrationNumber"), htmlAttributes: new { @class = "form-control dropdown-toggle col-md-9" })
            <input class="btn btn-default col-md-1" type="button" id="AddHousehold" value="Add New" />
        </div>

        <div id="phHousehold" class="panel panel-default">
            @using (Ajax.BeginForm("Create", "Households", new AjaxOptions() { UpdateTargetId = "phHousehold" }))
            {
                @*@Html.AntiForgeryToken()*@
                @Html.Action("Create", "Households")
            }
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.House, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.House, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.House, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @foreach (var questionCategories in Model.QuestionCategories)
            {
                foreach (var question in questionCategories.Questions)
                {
                    @Html.LabelFor(model => question.QuestionDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => question.QuestionValue, new{htmlAttributes = new { @class = "control-label col-md-10" }})
                }
            }
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" formaction="@Url.Action("SubmitHouseHoldRegistration", "Form")" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
