<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Clinic", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Health", "Index", "Health")</li>
                    <li>@Html.ActionLink("Documents", "Index", "Documents")</li>
                    <li>@Html.ActionLink("Visits", "Index", "Visits")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Manage Clinics", "Index", "Clinics", null, new { @class = "dropdown-toggle" })</li>
                            <li>@Html.ActionLink("Manage Wards", "Index", "Wards", null, new { @class = "dropdown-toggle" })</li>
                            <li>@Html.ActionLink("Manage Questions", "Index", "Questions", null, new { @class = "dropdown-toggle" })</li>
                            <li>@Html.ActionLink("Manage Users", "Index", "CHWs", null, new { @class = "dropdown-toggle" })</li>
                            <li>@Html.ActionLink("Manage Teams", "Index", "Teams", null, new { @class = "dropdown-toggle" })</li>
                            <li>@Html.ActionLink("Manage Forms", "Index", "Forms", null, new { @class = "dropdown-toggle" })</li>
                            <li>@Html.ActionLink("Manage Provinces", "Index", "Provinces", null, new { @class = "dropdown-toggle" })</li>
                            <li>@Html.ActionLink("Manage Municipalities", "Index", "Municipalities", null, new { @class = "dropdown-toggle" })</li>
                            <li>@Html.ActionLink("Manage Question Category", "Index", "QuestionCategories", null, new { @class = "dropdown-toggle" })</li>
                            <li>@Html.ActionLink("Manage Questions", "Index", "Questions", null, new { @class = "dropdown-toggle" })</li>
                        </ul>
                    </li>
                    @*<li>@Html.ActionLink("Upload Data", "Index", "File")</li>*@
                    @*<li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div id="hitCountValue" class="label label-success">Active Users: 1</div>&nbsp;<p class="">© 2015 - Clinic Health Application</p>
            <script src="/Scripts/jquery.signalR-2.2.0.js"></script>
            <script type="text/javascript">
                $(function () {
                    var connection = $.hubConnection();
                    var hub = connection.createHubProxy("hitCounter");

                    hub.on("onRecordHit", function (hitCount) {
                        $('#hitCountValue').text('Active Users: ' + hitCount);
                    });

                    connection.start(function () {
                        hub.invoke('recordHit');
                    });
                })
            </script>
        </footer>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
