@model ClinicWebForm.Models.Document

@{
    ViewBag.Title = @Model.Form.FormName;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@Model.Form.FormName</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="panel panel-default">
            <div class="form-group">
                @Html.LabelFor(model => model.Form.FormName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Form.FormName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Form.FormName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <h4>Fields</h4>
            <div class="panel panel-default" id="addedFields">
                @foreach(var item in Model.Fields)
                {
                    Html.CheckBoxFor(model => Convert.ToBoolean(item.FieldValue));
                }
            </div>
        </div>

        <div class="panel panel-default">
            <h4>Questions</h4>

            <div class="form-group">
                <label for="Questions" class="control-label col-md-2">Questions </label>
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.Questions, new SelectList(Model.Questions, "Id", "QuestionDescription"), htmlAttributes: new { @id = "questionsDropdown", @class = "form-control dropdown-toggle" })
                    @Html.ValidationMessageFor(model => model.Questions, "", new { @class = "text-danger" })
                </div>
                <input class="btn btn-default col-md-1" type="button" id="AddQuestion" value="Add New" />
            </div>

            @*<div class="panel panel-default" id="CreateQuestion"></div>*@

            <div class="panel panel-default" id="addedQuestions">
                
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
