@model IEnumerable<ClinicWebForm.Models.Visit>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.PreviousVisitId)*@
            @Html.DisplayFor(model => model.CHW.Signature)
        </th>
        <th>
            @Html.DisplayFor(model => model.CHW.HouseholdIdNumber)
        </th>
        <th>
            @Html.DisplayFor(model => model.CHW.HouseholdIdNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VisitDate)
        </th>
        <th>Forms</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => item.PreviousVisitId)*@
                @Html.DisplayFor(modelItem => item.CHW.Signature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CHW.HouseholdIdNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CHW.HouseholdIdName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisitDate)
            </td>
            <td>
                <table>
                    @foreach (var form in item.FormDocuments)
                    {
                        <tr>
                            <td>
                                @*@Html.ActionLink(form.Form.FormName, "Edit", new { id = item.Id })*@
                                @Html.DisplayFor(model => form.Form.FormName)
                            </td>
                        </tr>
                    }
                </table>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
