@model ClinicWebForm.Models.Household

<script src="~/Scripts/jquery-2.1.3.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('#phMember').hide();

        $('#AddMember').click(function () {

            if ($('#phMember').is(':visible') == false) {
                $('#AddMember').val('Cancel');
                $('#phMember').show();
            }
            else {
                $('#AddMember').val('Add New');
                $('#phMember').hide();
            }
        });
    });
</script>

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Household</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.RegistrationNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RegistrationNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RegistrationNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AllMembersRegistered, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.AllMembersRegistered)
                    @Html.ValidationMessageFor(model => model.AllMembersRegistered, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PregnancyPerionIn6Weeks, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.PregnancyPerionIn6Weeks)
                    @Html.ValidationMessageFor(model => model.PregnancyPerionIn6Weeks, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="Members" class="control-label col-md-2">Members </label>
            @Html.DropDownList("Members", new SelectList(ViewBag.Members, "Id", "FullName"), htmlAttributes: new { @class = "form-control dropdown-toggle col-md-9" })
            <input class="btn btn-default col-md-1" type="button" id="AddMember" value="Add New" />
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div id="phMember" class="panel panel-default">
    @using (Ajax.BeginForm("Create", "IndividualMembers", new AjaxOptions() { UpdateTargetId = "phMember" }))
    {
        @*@Html.AntiForgeryToken()*@
        @Html.Action("Create", "IndividualMembers")
    }
</div>